.portfolio_navigation{
    width: 100%;
    
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #0e1527;
    padding: 10px 0px;
    margin: 0px auto;
    border-bottom: 1px solid rgb(90, 89, 89);
    
}
.portfolio_navigation a{
    color: #68ffb8;
    text-decoration: none;
    font-weight: bold;

}
.portfolio_navigation a:hover{
    color: white;
    text-decoration: none;
    
    
}